<footer class="bg-light-footer mt-5 d-flex flex-column">
  <div class="container d-flex justify-content-between p-5 flex-wrap text-wrap">
    <div class="m-2">
      <h5>Atendimento</h5>
      <br />
      <p>Central de Ajuda</p>
      <p>Informações de segurança</p>
      <p>Opções de cancelamento</p>
      <p>Nossa resposta à pandemia de COVID-19</p>
      <p>Apoie pessoas com deficiência</p>
      <p>Denuncie um problema do bairro</p>
    </div>
    <div class="m-2">
      <h5>Comunidade</h5>
      <br />
      <p>Airbnb.org: ajuda em desastres</p>
      <p>Apoie refugiados afegãos</p>
      <p>Diversidade e pertencimento</p>
      <p>Combate à discriminação</p>
    </div>
    <div class="m-2">
      <h5>Hospedagem</h5>
      <br />
      <p>Experimente hospedar</p>
      <p>AirCover: proteção ao hospedar</p>
      <p>Explore recursos para hospedar</p>
      <p>Visite o fórum da comunidade</p>
      <p>Hospede de forma responsável</p>
    </div>
    <div class="m-2">
      <h5>Sobre</h5>
      <br />
      <p>Newsroom</p>
      <p>Descubra os novos recursos</p>
      <p>Carta dos nossos fundadores</p>
      <p>Carreiras</p>
      <p>Investidores</p>
      <p>Airbnb Luxe</p>
    </div>
  </div>
  <hr />
  <div class="container footer-end pb-3 d-flex justify-content-start flex-wrap">
    <span class="m-1">© {{ today | date: "yyyy" }} Airbnb, Inc.</span>
    ·
    <a href="#" class="link-dark m-1">Privacidade</a>
    ·
    <a href="#" class="link-dark m-1">Termos</a>
    ·
    <a href="#" class="link-dark m-1">Mapa do site</a>
    ·
    <a href="#" class="link-dark m-1">Informações da empresa</a>
  </div>
</footer>
