<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-body fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/airbnblogo.png" width="80" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
        <li class="nav-item">
          <div>
            <a class="btn rounded-pill me-1">
              <span class="h6">Seja um anfitrião</span>
            </a>

            <div class="btn-group mf-3">
              <button
                type="button"
                class="btn dropdown-toggle border rounded-pill shadow-sm"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-justify me-2"></i>
                <i class="bi bi-person-circle"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"
                    ><span><strong>Cadastre-se</strong></span></a
                  >
                </li>
                <li>
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#modalLogin"
                    class="dropdown-item"
                    href="#"
                    >Entrar</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Hospede em sua acomodação</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Ajuda</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <button class="btn btn-salmon" (click)="display = true">
        Comece sua busca&nbsp;&nbsp;<i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</nav>

<p-sidebar [(visible)]="display" styleClass="p-sidebar-lg" position="top">
  <ng-container> </ng-container>
</p-sidebar>
